
.navxp_VP_Outlook_Copy_of_Clayton_State_Blue {
    background-color: #004b8d;
    width: 100%;
    border-width: 1px; border-style: solid; border-color: #ffffff;
    border-bottom: 0px; border-right: 0px; border-left: 0px;

    text-align: left;
    overflow: hidden;
}

.navxp_VP_Outlook_Copy_of_Clayton_State_Blue a.itemL0:link, .navxp_VP_Outlook_Copy_of_Clayton_State_Blue a.itemL0:visited {

    display: block;

    font-style: normal; font-variant: normal; font-weight: bold; font-size: 14px; font-family: Trebuchet MS; text-decoration: none; color: #ffffff; text-align: left;
    padding-top: 7px; padding-right: 7px; padding-bottom: 7px; padding-left: 7px;
    border-width: 1px; border-style: solid; border-color: #ffffff;
    border-top: 0px;

    background-image: url();
    background-repeat: repeat-x;

    white-space: pre-wrap;
    overflow: hidden;
}

.navxp_VP_Outlook_Copy_of_Clayton_State_Blue a.itemL0:hover, .navxp_VP_Outlook_Copy_of_Clayton_State_Blue a.itemL0:active {
    display: block;
    white-space: pre-wrap;
    overflow: hidden;

    font-style: normal; font-variant: normal; font-weight: bold; font-size: 14px; font-family: Trebuchet MS; text-decoration: none; color: #f68428; text-align: left;
    padding-top: 7px; padding-right: 7px; padding-bottom: 7px; padding-left: 7px;
    border-width: 1px; border-style: solid; border-color: #ffffff;
    border-top: 0px;

    background-image: url();
    background-repeat: repeat-x;
}

.navxp_VP_Outlook_Copy_of_Clayton_State_Blue a.itemL0Sel:link, .navxp_VP_Outlook_Copy_of_Clayton_State_Blue a.itemL0Sel:visited,
.navxp_VP_Outlook_Copy_of_Clayton_State_Blue a.itemL0Sel:hover, .navxp_VP_Outlook_Copy_of_Clayton_State_Blue a.itemL0Sel:active {
    display: block;
    white-space: pre-wrap;
    overflow: hidden;

    font-style: normal; font-variant: normal; font-weight: bold; font-size: 14px; font-family: Trebuchet MS; text-decoration: none; color: #ffffff; text-align: left;
    padding-top: 7px; padding-right: 7px; padding-bottom: 7px; padding-left: 7px;
    border-width: 1px; border-style: solid; border-color: #ffffff;
    border-top: 0px;

    background-image: url();
    background-repeat: repeat-x;
}

.navxp_VP_Outlook_Copy_of_Clayton_State_Blue .child_container {

}

.navxp_VP_Outlook_Copy_of_Clayton_State_Blue a.itemLN:link, .navxp_VP_Outlook_Copy_of_Clayton_State_Blue a.itemLN:visited {

    display: block;

    font-style: normal; font-variant: normal; font-weight: normal; font-size: 13px; font-family: Trebuchet MS; text-decoration: none; color: #214d8c; text-align: left;
    padding-top: 7px; padding-right: 7px; padding-bottom: 7px; padding-left: 7px;
    border-width: 1px; border-style: solid; border-color: #ffffff;
    background-color: #e7efff;
    border-top: 0px;

   /* margin-left: 2px;*/

    white-space: pre-wrap;
    overflow: hidden;
}

.navxp_VP_Outlook_Copy_of_Clayton_State_Blue a.itemLN:hover, .navxp_VP_Outlook_Copy_of_Clayton_State_Blue a.itemLN:active {

    white-space: pre-wrap;
    overflow: hidden;

    font-style: normal; font-variant: normal; font-weight: normal; font-size: 13px; font-family: Trebuchet MS; text-decoration: none; color: #000000; text-align: left;
    background-color: #f0f5fe;
}

.navxp_VP_Outlook_Copy_of_Clayton_State_Blue a.itemLNSel:link, .navxp_VP_Outlook_Copy_of_Clayton_State_Blue a.itemLNSel:visited,
.navxp_VP_Outlook_Copy_of_Clayton_State_Blue a.itemLNSel:hover, .navxp_VP_Outlook_Copy_of_Clayton_State_Blue a.itemLNSel:active {

    display: block;
    height: 16px;

    font-style: normal; font-variant: normal; font-weight: bold; font-size: 13px; font-family: Trebuchet MS; text-decoration: none; color: #214d8c; text-align: left;
    background-color: #f0f5fe;
    padding-top: 7px; padding-right: 7px; padding-bottom: 7px; padding-left: 7px;
    border-width: 1px; border-style: solid; border-color: #ffffff;
    border-top: 0px;

    /*margin-left: 2px;*/

    white-space: pre-wrap;
    overflow: hidden;

}

.navxp_VP_Outlook_Copy_of_Clayton_State_Blue .expandCollapseL0 {
    position: relative;
    display: inline;
    float: right;
    width: 9px;
    height: 10px;
    /* margin-left: 178px; */
    margin-top: -25px;
    padding: 3px;
    margin-left: -20px;
    margin-right: 6px;

    /* margin-left: -24px;
    margin-right: 7px; */



}

.navxp_VP_Outlook_Copy_of_Clayton_State_Blue .expandCollapseL0:hover {

    border-width: 0px; border-style: solid; border-color: #527db5;
}

.navxp_VP_Outlook_Copy_of_Clayton_State_Blue .expandCollapseLN {
    position: relative;
    display: inline;
    float: right;
    width: 9px;
    height: 10px;
    margin-top: 2px;
    padding: 1px 2px 1px 2px;
    margin-top: -18px;
    margin-left: -20px;
    margin-right: 6px;



}

.navxp_VP_Outlook_Copy_of_Clayton_State_Blue .expandCollapseLN:hover {
    background-color: #ffdb94;
    border: 1px solid #527db5;

    background-color: #ffdb94;
    border-width: 0px; border-style: solid; border-color: #527db5;
}

.navxp_VP_Outlook_Copy_of_Clayton_State_Blue .expanded {
    background-image: url(../images/arrow_up_white.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.navxp_VP_Outlook_Copy_of_Clayton_State_Blue .collapsed {
    background-image: url(../images/arrow_down_white.png);
    background-repeat: no-repeat;
    background-position: center center;
}
/*
    Add your own styles to this file, which is loaded only for theme Copy of Clayton State Blue.
    To avoid style collisions, prefix your styles with the CSS class of root NavXp element.
*/
